.header {
    display: flex;
    margin: 5px 10vw 5px 10vw;
    align-items: center;
}

nav {
    width: 100%;
}

.NavigationList {
    margin-left: 8vw;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;

}

.NavigationElem {
    list-style-type: none;
    padding: 5px;
    margin: 5px 15px;
}

.NavigationElem a {
    text-decoration: none;
    font-weight: bold;
    color: var(--secondary-color2);
}

.NavigationElem a.active {
    color: var(--primary-color1)
}



.LoginButton {
    border: var(--secondary-color2) solid;
    color: var(--secondary-color2);
    border-radius: 20px;

}

.logoImg {
    margin-left: 0;
    height: 30px;
    width: 30px;
}